@import "./variables";
@import "./normalize";
@import "./fonts";
@import "./general";

%chevron-right {
    content: '';
    height: 4px;
    width: 4px;
    border: 3px solid $clr-text-gray-700;
    border-color: transparent $clr-text-gray-700 $clr-text-gray-700 transparent;
    transform: rotateZ(-45deg);
    position: absolute;
    right: 15px;
    top: 18px;
}

.chevron-right-class {
    &::after {
        @extend %chevron-right;
    }
}

.chevron-hover {
    position: relative;
    &:hover {
        .chevron-right-class::after {
            border-color: transparent $clr-bg-white-900 $clr-bg-white-900 transparent;
        }
    }
}

.panel {
    padding: 36px 28px;
    position: fixed;
    background: #FFF;
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.50);
    width: $panel-width;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.panel__container {
    display: flex;
    flex-direction: column;
    align-items: start;
    .panel__main-part {
        display: flex;
        align-items: center;
        position: relative;
        gap: 8px;
        margin-bottom: 64px;
        span {
            position: absolute;
            right: -20px;
            bottom: 7px;
        }
    }
}

h1 + span {
    color: $clr-text-gray-800;
    font-size: $fs-10px;
    font-weight: $fw-medium;
    letter-spacing: -0.1px;
}

.panel__nav {
    width: 100%;
}

.panel__nav a {
    color: $clr-text-gray-700;
    font-size: $fs-14px;
    font-weight: $fw-medium;
    letter-spacing: -0.14px;
    display: flex;
    gap: 14px;
    width: 100%;
    padding: 11px;
    align-items: center;
    border-radius: 8px;
    &:hover {
        transition: all 0.2s ease-in;
        background-color: $clr-bg-blue-900;
        color: $clr-bg-white-900;
        img {
            transition: all 0.2s ease-in;
            filter: $clr-filter-white-900;
        }
    }
}

.control {
    margin-left: calc($panel-width + 30px)
}

// Second section of the panel

.call-to-action {
    border-radius: 20px;
    background: linear-gradient(108deg, #EAABF0 7.37%, #4623E9 95.19%);
    padding: 26px 23px 22px;
    margin-bottom: 46px;
    span {
        display: block;
        color: $clr-text-white-900;
        text-align: center;
        font-size: $fs-14px;
        font-weight: $fw-semibold;
        letter-spacing: 0.14px;
    }
    button {
        margin-top: 30px;
        padding: 10px 55px;
        color: $clr-text-blue-800;
        text-align: center;
        font-size: $fs-14px;
        font-weight: $fw-semibold;
        letter-spacing: 0.14px;
        white-space: nowrap;
        background-color: $clr-bg-white-900;
        border-radius: 20px;
        box-shadow: 2px 4px 4px 0px rgba(79, 42, 234, 0.17);
        &:hover {
            background-color: #eeedf5;
        }
    }
}

.panel__admin a {
    display: flex;
    align-items: center;
    .admin__name {
        display: flex;
        flex-direction: column;
        margin-right: 71px;
        margin-left: 12px;
        white-space: nowrap;
        .name {
            color: $clr-text-black-900;
            font-size: $fs-14px;
            font-weight: $fw-medium;
            letter-spacing: 0.14px;
        }
        .job {
            color: $clr-text-gray-900;
            font-size: $fs-12px;
            font-weight: $fw-regular;
            letter-spacing: 0.12px;
        }
    }
}

@media (max-width: 768px) {
    $panel-width: 102px;
    .panel {
        width: $panel-width;
    }
    .panel {
        .chevron-down,
        .call-to-action,
        h1,
        span {
            display: none;
        }
    }
    .control {
        margin-left: calc($panel-width + 20px)
    }
    
}